@model HelloPlusWeb.Models.BaseViewModel
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
   
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <p id="displayMessage" class="message">

            </p>
        </div>
    </div>

</div>

