<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key="owin:AutomaticAppStartup" value="false"/>
    <add key="CurrentlanguageCulture" value="fr-CA"/>
    <!--value="en-US" es-MX==Español, de-DE==Deutsch, ar-SA==Arabic, en-CA, fr-CA=French-->
    <add key="NotifierType" value="File" />
    <!--value="console" "File" "DB" ,"none"-->
    <add key="FilePath" value="C:\\Temp\CroweMessages_Local.txt" />
  </appSettings>
  <connectionStrings>
    <add name="DbSQL" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=master;user id=sa;password=@dmin1234;" providerName="System.Data.SqlClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
 
</configuration>